.image-resize{
float: left;
width: 100%;
max-width: 100%;
max-height: 600px;

}

.div-resize:hover img{
	opacity: 0.7;
}

.image-20x20{
	width: 20px;
	height: 20px;
}
.image-40x40{
	width: 40px;
	height: 40px;

}
.image-min20x20{
	min-width: 20px;
	height: 20px;
}

