#menu-inline { 
	list-style-type: none; 
	text-transform: uppercase; 
	height: 60px; 
	padding: 0; 
	margin: 0; 
	float: right;

}
#menu-inline li { 
	float: left; 
	position: relative; 
	padding: 0; 
	line-height: 60px; 
	display: inline;
}
#menu-inline li:hover { 
	background: #d7d9d8;
}
#menu-inline li a { 
	display: block; 
	padding: 0 15px; 
	color: #303030;
	text-decoration: none; 
}
#menu-inline li a:hover { 
	color: #000; 
}
#menu-inline li ul { 

	position: absolute;
	min-width: 205px; 
	left: 0; 
	
	list-style-type: none; 
	padding: 0; 
	margin: 0;
	box-shadow: 
		10px 0px 10px -7px rgba(0,0,0,0.5),
    	-10px 0px 10px -7px rgba(0,0,0,0.5),
    	0px 10px 10px -7px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}
#menu-inline li:hover ul { 
	opacity: 1;
	visibility: visible;
}
#menu-inline li ul li { 
	float: none; 
	line-height: 45px;
	position: static; 

	border-bottom: 1px solid #444;
}
#menu-inline li:hover ul li { 
	line-height: 45px; 
}
#menu-inline li ul li a { 	
	background: #303030;
	border-bottom: 1px solid #444; 	/* bg for sub-menu*/ 
	color: #EEE;			/* text color for sub-menu*/
}
#menu-inline li ul li a:hover { 
	background-color: #222;	/**/
	color: #FFF;			/**/
}

#menu-inline li { 
	-webkit-transition: all 0.2s; 
}
#menu-inline li a { 
	-webkit-transition: all 0.5s; 
}
#menu-inline li ul { 
	-webkit-transition: all 0.5s; 
}
#menu-inline li ul li { 
	-webkit-transition: height 0.5s; 
}





#menu-inline-small { 
	list-style-type: none; 
	text-transform: uppercase; 
	height: 60px; 
	padding: 0; 
	margin: 0; 
	float: right;

}
#menu-inline-small li { 
	float: left; 
	position: relative; 
	padding: 0; 
	line-height: 60px; 
	display: inline;
}
#menu-inline-small li:hover { 
	background: #d7d9d8;
}
#menu-inline-small li a { 
	display: block; 
	padding: 0 15px; 
	color: #303030;
	text-decoration: none; 
}
#menu-inline-small li a:hover { 
	color: #000; 
}

/* button menu */

.button-menu{
	width: 250px;
	height: 100px;
	position: absolute;
	right: -250px;
	top: 0;
	transition: all 0.5s;
	background: #343434;
}

.button-menu:hover{
	//right: 0;
}

.button-for-menu{
	width: 60px;
	height: 60px;
	position:absolute;
	background:;
	left: -60px;
	background: #343434;
	cursor: pointer;
}

.button-menu .menu{

}

.static-menu{
	text-transform: uppercase;
	height: 60px;
	float: right;
	margin-right: 60px;
	cursor: pointer;
}
.static-menu p{
	padding-left: 15px;
	padding-right: 15px;
	line-height: 60px;
}


.on-mouse{
	opacity: 1;
	transition: all 0.5s;
}
.on-mouse:hover{
	opacity: 0.8;
	
}





@media (max-width: 320px){

	#menu-inline{
		display: none;
	}

	#menu-inline-small{
		display: none;
	}

	.static-menu{
		display: none;
	}

	.button-menu{
		display: inline-block;
	}
}

@media (min-width: 320px) {

	#menu-inline{
		display: none;
	}

	#menu-inline-small{
		display: none;
	}

	.static-menu{
		display: none;
	}

	.button-menu{
		display: inline-block;
	}
}

@media (min-width: 400px) {

	#menu-inline{
		display: none;
	}

	#menu-inline-small{
		display: none;
	}

	.static-menu{
		display: inline-block;
	}

	.button-menu{
		display: inline-block;
	}
}

@media (min-width: 625px) {

	#menu-inline{
		display: none;
	}

	#menu-inline-small{
		display: inline-block;
	}

	.static-menu{
		display: inline-block;
	}

	.button-menu{
		display: inline-block;
	}	
}

@media (min-width: 980px) {

	#menu-inline{
		display: none;
	}

	#menu-inline-small{
		display: inline-block;
	}

	.static-menu{
		display: inline-block;
	}

	.button-menu{
		display: inline-block;
	}
}

@media (min-width: 1100px) {

	#menu-inline{
		display: inline-block;
	}

	#menu-inline-small{
		display: none;
	}

	.static-menu{
		display: inline-block;
		margin-right: 0px;
	}

	.button-menu{
		display: none;
	}
}

@media (min-width: 1700px) {

	#menu-inline{
		display: inline-block;
	}

	#menu-inline-small{
		display: none;
	}

	.static-menu{
		display: inline-block;
		margin-right: 0px;
	}

	.button-menu{
		display: none;
	}
}